<div class="container">
    <input type="text">
    <h2>IN</h2>
    <input type="text">
</div>

<div class="container">
    <button class="button">Price per Year</button>
    <button class="button">Year</button>
    <button class="button">Distance</button>
    <button class="button">Advanced Filter</button>
    <button class="button">Clear</button>
</div>

<div class="box">
    {{!-- Dyamically  render the cars--}}
</div>