<div class="row">
  <div class="col-md-6">
    <h2>Log In required to book a Lux car</h2>
    {{! <div id="logged-in-link" style="display: none;">
      <a href="/">You are now logged in. Click here to go home.</a>
    </div> }}
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <br />
    <br />
    <br />
    <h2>OR Register with us</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name as it appears in your driver's license:</label>
        <input
          class="form-input"
          type="text"
          id="name-signup"
          placeholder="Ex. John Smith"
        />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input
          class="form-input"
          type="text"
          id="email-signup"
          placeholder="Ex. name@me.com"
        />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input
          class="form-input"
          type="password"
          id="password-signup"
          placeholder="write your unique password"
        />
      </div>
      {{!       
      <div class="form-group">
        <label for="phone-signup">phone:</label>
        <input class="form-input" type="number" id="phone-signup" />
      </div>
      <div class="form-group">
        <label for="address-signup">address:</label>
        <input class="form-input" type="text" id="address-signup" />
      </div>

      <div class="form-group">
        <label for="age-signup">age:</label>
        <input class="form-input" type="number" id="age-signup" />
      </div>

      <div class="form-group">
        <label for="license-signup">license:</label>
        <input class="form-input" type="text" id="license-signup" />
      </div>

      <div class="form-group">
        <label for="insurance-signup">insurance:</label>
        <input class="form-input" type="text" id="insurance-signup" />
      </div> }}

      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>