<div class="row">
  <div class="col-auto">
    <p>You are one step closer to your reservation!</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your information on file:</h3>

    <form class="form new-reservation-form">


 <div class="form-group">
   <p>Name: {{name}}</p>
      </div>


 <div class="form-group">
   <p>Email: {{email}}</p>
      </div>

 <div class="form-group">
   <p>The ID for the car selected: {{carid}}</p>
      </div>
<br>
<br>
<p>We need the following information:</p>

      <div class="form-group">
        <label for="reservation-phone">Phone number:</label>
        <input
          class="form-input"
          type="text"
          id="reservation-phone"
          name="reservation-phone"
          placeholder="10-digit phone number"
        />
      </div>

      <div class="form-group">
        <label for="reservation-address">Address:</label>
        <input
          class="form-input"
          type="text"
          id="reservation-address"
          name="reservation-address"
          placeholder="use your billing address"
        />
      </div>

      <div class="form-group">
        <label for="reservation-age">Age:</label>
        <input
          class="form-input"
          type="text"
          id="reservation-age"
          name="reservation-age"
          placeholder="age"
        />
      </div>

      <div class="form-group">
        <label for="reservation-license">License Number:</label>
        <input
          class="form-input"
          type="text"
          id="reservation-license"
          name="reservation-license"
          placeholder="for example: TX-12345678"
        />
      </div>

      <div class="form-group">
        <label for="reservation-insurance">Insurance:</label>
        <input
          class="form-input"
          type="text"
          id="reservation-insurance"
          name="reservation-insurance"
          placeholder="include company name and policy number "
        />
      </div>


      <div class="form-group">
        <label for="reservation-desc">Include the dates of reservation and other requirements:</label>
        <textarea
          class="form-input"
          id="reservation-desc"
          name="reservation-desc"
          placeholder="write message to reservations team here"
        ></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Request</button>
      </div>
    </form>
  </div>


<script src="/js/reservation.js"></script>