{{! <body>
  <div class="container">
    <div class="box">

    <div class="field">
      <div class="control ">
        <input class="input is-large"  >
        <label class="label"> Name</label> 
      </div>
    </div>
    <div class="field">
      <div class="control ">
        <input class="input is-large"  >
        <label class="label"> Email</label> 
      </div>
      <div class="field">
        <div class="control ">
          <input class="input is-large"  >
          <label class="label"> Password</label> 
        </div>
      </div>

  <div> <button class="button"> Signup!</button> </div>

    </div>
  </div>
</div>
  </body> }}