
<body>
  <div class="container">
    <p>
      Your reservation request was submitted succesfully!
      <br />
      A representative is now reviewing your request and will contact you soon.
      <br />
      Thank you for your business!
      <br />
    </p>
  </div>
</body>

<script src="./js/reservation.js"></script>