.sub-section {
	margin-bottom: 20px;
}
.rb-card {
	border: none;
	border-radius: 2px;
	box-shadow: 5px 5px 16px 0 rgba(5, 4, 4, 0.13);
	transition: all 0.5s ease-in-out;
	position: relative;
	overflow: hidden;
}
.rb-card a {
	color: #616669;
}
.rb-card:hover {
	transform: scale(1.020);
}

.p-b-30 {
	padding-bottom: 5px;
}

h1,
h2,
h3,
h4 {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
}
.title {
	font-weight: 700;
}

.subtitle {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
}
.hero.is-light .subtitle,
.subtitle {
	color: #8a9094;
}


